<div id="wall-post">
    <span>以下の情報を友人のウォールに投稿してもよろしいですか？</span><br>
    <img src="http://pds.exblog.jp/pds/1/200511/01/41/d0064541_3115317.jpg" height="50">

    <div id="post-form">
<div id="post-text">
TakanaoYoshiiさんが「野球が好きなのはどっち？」という質問であなたへ投票しました。
</div>
    <a href="javascript:void(0);" onCilck="wall_post();"><span id="do-post">投稿する</span></a>
    <a href="javascript:void(0);" onCilck="skip_post();"><span id="do-skip">スキップ</span></a>
    </div>
</div>


<script>
var div = $('<div>');
div.text("hoge");
$("#wall-post").append(div);
</script>
