<body class="noon">
  <div id="sending">
  spothon vote へようこそ！
  最初にspothon voteのアプリ認証を行います。
  
  ポップアップが有効になっている必要があります。
  </div>
</body>

<script>
$("div#sending").css('display', 'block');
</script>
